# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
.venv/
venv/

.env

# Datos y modelos (generados localmente)
backend/data/raw/*.csv
backend/models/*.pkl
!backend/data/raw/.gitkeep
!backend/models/.gitkeep

# Cuotas históricas de terceros (copyright del proveedor, no se redistribuyen)
backend/data/odds/
backend/data/processed/backtest_odds_detail.csv

# Node (Frontend)
node_modules/
.next/
out/
build/
